<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <location path="our-courses.php">
    <system.webServer>
      <httpRedirect enabled="true" exactDestination="true" destination="https://www.georgeanimatrix.com/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
   <location path="certificate-course-in-web-graphic-design-in-kolkata.php">
    <system.webServer>
      <httpRedirect enabled="true" exactDestination="true" destination="https://www.georgeanimatrix.com/web-graphics-design-course-in-kolkata.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
   <location path="multimedia-course-in-kolkata.php">
    <system.webServer>
      <httpRedirect enabled="true" exactDestination="true" destination="https://www.georgeanimatrix.com/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="short-term-courses.php">
    <system.webServer>
      <httpRedirect enabled="true" exactDestination="true" destination="https://www.georgeanimatrix.com/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="multimedia-training-in-kolkata.php">
    <system.webServer>
      <httpRedirect enabled="true" exactDestination="true" destination="https://www.georgeanimatrix.com/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <system.webServer>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\georgetelegraph.org\error_docs\maintenance.html" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
	
    <rewrite>
      <outboundRules>
        <rule name="Server Response Header Check">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
      <!--<rules>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.georgeanimatrix\.com$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://www.georgeanimatrix.com/{R:1}"/>
        </rule>
      </rules>-->
      <rules>
	  
		<!--<rule name="block1" stopProcessing="true">
          <match url="^/blog/" />
          <action type="None" />
        </rule>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.georgeanimatrix\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.georgeanimatrix.com/{R:1}" />
        </rule>-->


        <rule name="Redirect index.php" stopProcessing="true">
          <match url="(.*?)/?index\.php$" />
          <action type="Redirect" url="{R:1}/" />
        </rule>
		<rule name="Redirect to WWW" stopProcessing="true">
         <match url=".*" />
         <conditions>
         <add input="{HTTP_HOST}" pattern="^georgeanimatrix.com$" />
         </conditions>
         <action type="Redirect" url="https://www.georgeanimatrix.com/{R:0}" redirectType="Permanent" />
		</rule>


			
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\georgetelegraph.org\tmp" />
  </system.web>
</configuration>
