/* body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'popins',sans-serif;
} */

.white-space{
    padding: 80px 0 50px;
}

p{
    font-family: 'Anek Gujarati', sans-serif;
    font-weight: 600;
}

h1{
    font-family: 'Noto Sans Display', sans-serif;
}


.header-sec{
    padding: 120px 0 100px;
}

/* head.sticky{
    padding: 10px 0 40px 0;
    background: #fff;
    box-shadow: 0px 1px 15px rgb(207, 207, 207);
} */

.main-img{
    width: 70%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.cws{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cws h1{
    display: block;
    margin-left: auto;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    font-weight: 400;
}
.logo{
    max-width: 100%;
    width: 130px;
}


/* ----------------Text Animation --------------------- */
.text-animation span{
    position: relative;
    color: #383d52;
    -webkit-text-stroke: 0.3vw #383d5200;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.text-animation span::before{
    content: attr(data-text);
    position: absolute;
    width: auto;
    color:#fe8801;
    white-space: nowrap;
    -webkit-text-stroke: 2px solid #383d52 ;
    border-right: 3px solid #fe8801;
    overflow: hidden;
    animation: anme 6s linear infinite;

}

@keyframes anme{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.btn2{
    padding:10px 30px;
    margin:10px 0;
    color:rgb(5, 4, 4);
    background-color:transparent ;
    border:2px solid black;
    font-weight:700;
    position:relative ;
    z-index: 1;
}
.btn2:hover{
    color:white;
}
.btn2::before{
    content:"";
    position:absolute ;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    z-index:-1;
    transition:transform .5s;
    transform-origin:0 0; transition-timing-function:cubic-bezier(0.5,1.6,0.6,0.7);
}

.btn1::before{
    transform:scaleX(0);
}
.btn2:hover::before{
    transform:scaleX(1);
}

/* -------------------------------------------------------------- */

.p-relative{
    position: relative;
    padding: 10px 0 10px;
}

.hero_shape img{
    position: absolute;
}

.hero-1-circle{
    right: 0;
    bottom: 178px;
    
}

.hero-2-circle{
    left: 120px;
    top: 150px;
    animation: hero-2-animation 5s linear 0s infinite alternate;
}

@keyframes hero-2-animation{
    50% {transform: rotate(360deg);}
}

.hero-3-circle{
    bottom: 150px;
    left: 0;
}

.r_relaitive img{
   position: absolute;
}
.hero-circle{
    right: 12%;
    bottom: 2%;
    width: 17%;
    z-index: 0;
}
.hero-dot{
    top: 65%;
    right: 43%;
    animation: hero-dot-animation 3s linear infinite alternate;
}

@keyframes hero-dot-animation{
    0%{
        transform: translateY(80px);
    }
    100%{
        transform: translateY(-80px);
    }
}

.hero-circle-1{
    right: 15%;
    top: 10%;
}
/*---------------------------------------------------------------*/

.sec-two{
    padding: 90px 0 90px;
}
.sec-two-text{
    text-align: center;
    padding: 30px;
}
.sec-two-text h1{
    font-family: 'Noto Sans Display', sans-serif;
    
}

.rows2{
    width: 96%;
    position: relative;
    left: 40px;
}

.card1{
    background-color: #0d6efd;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-left: auto;
    transition: .3s ease;
    
}
.card1:hover{
    transform: translateY(-20px);
}
.card1 h1,h5{
    color: white;
}
.icon img{
    width: 35%;
}
.icon3 img{
    width: 30%;
}

.card2{
    background-color: #d63384;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-left: auto;
    transition: .3s ease;
}
.card2:hover{
    transform: translateY(-20px);
}
.card2 h1,h5{
    color: white;
}

.card3{
    background-color: #6610f2;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-left: auto;
    transition: .3s ease;
    
}
.card3:hover{
    transform: translateY(-20px);
}
.card3 h1,h5{
    color: white;
}

.card4{
    background-color: #1da15f;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-left: auto;
    transition: .3s ease;
    
}
.card4:hover{
    transform: translateY(-20px);
}
.card4 h1,h5{
    color: white;
}

/* .scroll-p{
    overflow: hidden;
    overflow-y: scroll;
    height: 30%;
}
.scroll-p::-webkit-scrollbar{
    width: .2em;
    background-color: #1da15f;
}
.scroll-p::-webkit-scrollbar-thumb{
    background-color: #000000;
}
 */

 /* -------------------------------------------------------------- */

 .sec-three{
    padding: 90px 0 150px;
 }


 .text-bg-animation{
    font-family: 'Noto Sans Display', sans-serif;
 }
 .text-bg-animation span{
    position: absolute;
    z-index: -1;
    transition: all .3s ease-out 0s;
 }
 .text-bg-animation span, .yellow-bg img{
    width: 120%;
    margin-top: 6px;
    animation: section-animation-2 3s infinite;
 }

@keyframes section-animation-2{
    0%{
        width: 0;
    }
    50%, 100%{
        width: 28%;
    }
}

.s-3-p{
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.s-3-p p{
    margin-bottom: 1px;
}
 

.about__thumb-wrapper {
    position: relative;
}
.about__review {
    position: absolute;
    left: -25px;
    top: 100px;
    transform: rotate(90deg);
}
.about__review h5 {
    font-size: 16px;
    font-weight: 400;
    color: #6d6e75;
    margin-bottom: 0;
}
.about__review h5 span {
    font-weight: 600;
    color: #0e1133;
}
.ml-100 {
    margin-left: 100px;
}
.mt--210 {
    margin-top: -210px;
}
.mt--80 {
    margin-top: -80px;
}
.about__student p {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 230px;
}
.about__student p span {
    font-weight: 600;
    color: #0e1133;
}
.about__thumb img {
    width: 400px;
    border-radius: 6px;
}
.about__banner img {
    border-radius: 6px;
    max-width: 200px;
}




 .sec-three-button{
    background-color: transparent;
    border: 2px solid rgb(175, 175, 197);
    border-radius: 3px;
    padding: 8px 18px 8px 18px ;
    margin: 10px 0 auto;
    font-weight: 500;
    transition: .3s ease;
 }

 .sec-three-button:hover{
    color: white;
    background: #0d6efd;
    border:2px solid #0d6efd;
    box-shadow: 0 0 15px;
    font-weight: 500;
 }



/* ------------------------------------------------------------------- */


.sec-4{
    background: #f3f4f8;
    margin-bottom: 50px;
    padding-bottom: 120px;
}
.sec-4-heading{
    padding: 80px 0 80px 0;
}
.sec-4-heading h1{
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
}
.sec-4-heading p{
    text-align: center;
}

.course-card{
    box-shadow: 0 5px 10px rgb(218, 218, 218);
}

.course-card-text{
    background-color: #fff;
    padding: 15px 5px 20px 15px ;
    margin-bottom: 20px;
}

.course-card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.course-card-1{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 5px 45px 15px ;
    margin-bottom: 20px;
}
.course-card-1 h5{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.course-card-1 button{
    font-size: 10px;
    padding: 8px 12px;
}



/* -------------------------------------------------------------------- */

.sec-5{
    margin-bottom: 60px;
    padding-top: 20px;
}

.text-bg-animation-5 span{
    position: absolute;
    z-index: -1;
    transition: all .3s ease-out 0s;
 }
 .text-bg-animation-5 span, .yellow-bg-5 img{
    width: 27%;
    margin-top: 10px;
   
 }

 .yellow-bg-5 img{
    animation: section-animation-5 3s infinite;
 }

 @keyframes section-animation-5{
    0%{
        width: 0;
    }
    50%, 100%{
        width: 33%;
    }
}

.sec-5-text{
    margin-left: 50px;
}

.sec-5-p-1{
    color: #0d6efd;
    font-weight: 500;
}

.sec-5-a{
    text-decoration: none;
    color: #dd3b3b;
    font-weight: 600;
}

.sec-5-button{
    color: white;
    background-color: #0d6efd;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
}

.sec-5-text h1{
    font-family: 'Noto Sans Display', sans-serif;
}

/* ----------------------------------------------------------- */

.sec-6{
    padding: 50px 0 80px;
}

.sec-6-text{
    position: relative;
}

.sec-6-text h1{
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
   
}
.sec-6-text p{
    text-align: center;
}

.sec-6-row-items img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sec-6-row-items h4, .sec-6-row-items p{
    text-align: center;
}

.sec-6-animation span{
    position: absolute;
    text-align: left;
    z-index: -1;
}

.sec-6-animation span, .sec-6-yellow-bg img{
    width: 120%;
    margin: 8px 0 0 -5px;
    animation: section-animation-6 2s infinite;
}

@keyframes section-animation-6{
    0%{
        width: 0;
    }
    50%, 100%{
        width: 34%;
    }
}

/*-----------------------------------------------------------------------*/

.sec-7{
    padding: 80px 0 80px;
    background: linear-gradient(rgb(255, 64, 64), rgb(46, 46, 46));
}



/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f100;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }

  .mySlides img{
    width: 15%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Prev icon size */
  .prev i, .next i{
    font-size: 50px;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: rgba(221, 221, 221, 0);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #ffffff;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic; color: #fff; font-weight: 500;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

  /*----------------------------------------------------------------------------*/

  .sec-8{
    padding: 80px 0 150px;
  }

  /*----------------------------------------------------------------------------*/

.mb--100 {
    margin-bottom: -100px;
}

.cta__inner {
    padding: 50px 100px 53px 70px;
    border-radius: 10px;
    box-shadow: 0 30px 60px 0 rgb(0 4 48 / 30%);
    position: relative;
    z-index: 1;
}

.cta__shape img {
    position: absolute;
    bottom: -48px;
    right: -148px;
}
.blue-bg {
    background: #2b4eff;
}

.fix {
    overflow: hidden;
}
.mr-10{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius:5px ;
    box-shadow: 0 30px 60px 0 rgb(0 4 48 / 30%);
}
.mr-10:hover{
    color: rgb(0, 0, 0);
}

.phone-icon{
    transform: rotate(105deg);
    margin-right: 10px;
    border-right: 1px solid rgb(165, 165, 165);
}

.align-items-center {
    align-items: center!important;
}

.cta__title {
    position: relative;
    z-index: 1;
    font-size: 46px;
    color: #fff;
    max-width: 560px;
    margin-bottom: 0;
}
.p-relative {
    position: relative;
}
.z-index-1 {
    z-index: 1;
}

  /*---------------------------------------------------------------------------*/

.footer{
    padding: 80px 0 30px;
    background-color: rgb(209, 209, 209);
}

.social-icon{
   display: flex;
   justify-content:flex-start;
   align-items: center;
   text-align: center;
}


.facebook{
    background: #285da1;
    color: white;
    padding: 8px 12px;
    border: 2px solid #285da1 ;
    border-radius: 5px;
    margin-right: 20px;
}
.facebook:hover{
    background: transparent;
    color: #285da1;
    transition: all .5s ease-in-out;
}

.twitter{
    background: #4398df;
    color: white;
    padding: 8px 10px;
    border: 2px solid #4398df ;
    border-radius: 5px;
    margin-right: 20px;
}
.twitter:hover{
    background: transparent;
    color: #4398df;
    transition: all .5s;
}

.instagram{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: white;
    padding: 8px 10px;
    border: 2px solid rgb(218, 50, 44);
    border-radius: 5px;
    margin-right: 20px;
}

.instagram:hover{
    background: transparent;
    color: rgb(218, 50, 44);
    transition: all .5s;
}

.youtube{
    background: #f71e1e;
    color: white;
    padding: 8px 10px;
    border: 2px solid #f71e1e ;
    border-radius: 5px;
    margin-right: 20px;
}

.youtube:hover{
    background: transparent;
    color: #f71e1e;
    transition: all .5s;
}


.company ul{
    padding: 0;
    margin: 0;
}
.company ul li, .company ul li a{
    list-style: none;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: 500;
}

.platform ul{
    padding: 0;
    margin: 0;
}
.platform ul li, .platform ul li a{
    list-style: none;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: 500;
}

  

  


/* ------------------------------- About Us Css ----------------------------- */

/* .p-1{
    color: #a5041f;
    margin-bottom: -10px;
    font-size: 20px;
}

.about-info-2{
    margin-top: auto;
}

.about-us-sec-1{
    padding: 50px 0 50px;
}
.about-us-sec-2{
    padding: 50px 0 50px;
}
.about-us-sec-3{
    padding: 50px 0 50px;
}

.vision{
    background: #5a82b3;
    padding: 30px 100px;
    max-width: 100%;
    width: 65pc;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vision h5{
    color: yellow;
}

.vision p{
    color: white;
}

.bottom-sec{
    padding: 50px 0 50px;
    background: linear-gradient(rgb(255, 64, 64), rgb(46, 46, 46));
    color: white;
    text-align: center;
}

.bottom-sec-inner{
    max-width: 100%;
    width: 65pc;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-sec-inner h1{
    color: yellow;
}

 */

/*-------------------------------- Contact Us --------------------------------*/

.contact-form{
    max-width: 100%;
}
.contact-form input{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    background: #f3f4f8;
    border: none;
    border-radius: 5px;

}

.contact-form textarea{
    width: 100%;
    border: none;
    background: #f3f4f8;
    padding: 12px 20px;
}

.contact-us-right{
    max-width: 100%;
    width: 30pc;
    padding: 0px 45px;
    box-shadow: 1px 0px 10px rgb(163, 163, 163);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact_map{
    padding: 30px 15px 10px;
}

.contact_phone{
    padding: 10px 15px;
}

.contact_website{
    padding: 10px 15px;
}
.contact_email{
    padding: 10px 15px;
}

.contact_email img, .contact_map img, .contact_phone img, .contact_website img{
    margin-right: 10px;
}

.social{
    padding: 10px 0 30px;
}

/*-------------------------------------------------------------------------
Cursor Animation
-------------------------------------------------------------------------*/

.cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
    z-index: 1000;
}

.cursor2{
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border: 1px solid #000000;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .08s;
    z-index: 1000;
}
